services:
  app:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: 'unless-stopped'
    environment:
      USERMAP_UID: '1000'
      USERMAP_GID: '1000'
      PAPERLESS_TIME_ZONE: Europe/Paris
      PAPERLESS_REDIS: 'redis://broker:6379'
      PAPERLESS_URL: 'https://paper.{{hostname}}'
      PAPERLESS_OCR_LANGUAGE: fra
      PAPERLESS_CONSUMER_POLLING: 30
      #PAPERLESS_SECRET_KEY=change-me
    volumes:
      - ./data:/usr/src/paperless/data
      - ./export:/usr/src/paperless/export
      - /mnt/documents/medias:/usr/src/paperless/media
      - /mnt/documents/ingress:/usr/src/paperless/consume
    ports:
      - '127.0.0.1:8000:8000'
    depends_on:
      broker:
        condition: service_healthy

  broker:
    image: redis:6.0
    restart: 'unless-stopped'
    healthcheck:
        test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
