ungrouped:
  hosts:
    homelab:
      ansible_host: 192.168.14.1
      ansible_username: oxodao

      # This is the username which has the public key you want to
      # be authorized on the server
      # It will set the authorized_keys to the content of
      # https://github.com/{{github_username}}.keys
      # before disabling password authentication
      github_username: oxodao

      ssh_port: 5792
      ntp_timezone: Europe/Paris

      # The hostname will be domain.tld
      domain: home
      tld: lan

      smtp_hostname: 'smtp.mailgun.org'
      smtp_port: 587
      smtp_tls: yes
      smtp_starttls: yes
      smtp_username: ''
      smtp_password: ''
      smtp_from: ''
      smtp_to: ''

      public_ip: "HOMELAB PUBLIC IP (FOR WIREGUARD)"
      ip_prefix: "192.168.14."
      wg_ip_prefix: "192.168.66."

      machines:
        - { hostname: 'severus', short_name: 'severus', ip: '10', description: 'Main desktop computer' }
        - { hostname: 'lockhart', short_name: 'lockhart', ip: '11', description: 'Main laptop (Huawei)' }
        - { hostname: 'tablet', short_name: 'tablet', ip: '12', description: 'Main tablet' }
        - { hostname: 'op6', short_name: 'op6', ip: '13', description: 'Main phone' }
        - { hostname: 'switch', short_name: 'switch', ip: '14', description: 'Main Nintendo Switch' }

      wireguard:
        port: 48666 # This port should be UDP open on your ISP box
        private_key: "Your WG privkey"
        public_key: "Your WG pubkey"

        machines:
          - short_name: lockhart
            public_key: "machine's WG pubkey"
            ip_endpoint: '11'

          - short_name: remus
            public_key: "machine's WG pubkey"
            ip_endpoint: '12'

      # @TODO: Use ansible to call Opennic's API
      # https://wiki.opennic.org/api/geoip
      forwarded_dns_servers:
        - 2a00:f826:8:2::195
        - 2a03:4000:4d:c92:88c0:96ff:fec6:b9d
        - 195.10.195.195
        - 194.36.144.87

      docker_apps:
        - name: scrutiny
          files_to_copy:
            - src: '../files/scrutiny_collector.yaml'
              dest: '/opt/docker-apps/scrutiny/config/collector.yaml'
          folders_to_create:
            - /opt/docker-apps/scrutiny/config
            - /opt/docker-apps/scrutiny/influxdb

        - name: jellyfin
          files_to_copy: []
          folders_to_create:
            - /opt/docker-apps/jellyfin/cache
            - /opt/docker-apps/jellyfin/config
            - /opt/docker-apps/jellyfin/data
            - /opt/docker-apps/jellyfin/logs
            - /opt/docker-apps/jellyfin/metadata
            - /opt/docker-apps/jellyfin/transcodes

        - name: gitea
          files_to_copy: []
          folders_to_create:
            - /opt/docker-apps/gitea/config
            - /opt/docker-apps/gitea/data

        - name: jdownloader
          files_to_copy: []
          folders_to_create:
            - /opt/docker-apps/jdownloader/data
            - /mnt/sauvegarde/Downloads

        - name: paperless
          files_to_copy: []
          folders_to_create:
            - /opt/docker-apps/paperless/data
            - /opt/docker-apps/paperless/export
            - /mnt/documents/medias
            - /mnt/documents/ingress

      nginx_apps:
        - app_name: paperless
          short_name: paper
          port: 8000
        - app_name: jellyfin
          short_name: play
          port: 8096
        - app_name: gitea
          short_name: git
          port: 3000
        - app_name: jdownloader
          short_name: dl
          port: 5800
        - app_name: scrutiny
          short_name: hd
          port: 8185
        - app_name: cockpit
          short_name: cockpit
          port: 9090
          custom_conf: true

      # Caution, the ansible role for SMB does not create user accounts
      # If adding new accounts, they should be created in `playbooks/samba.yaml` beforehand
      # C.f. https://github.com/vladgh/ansible-collection-vladgh-samba
      # Oh and also caution, it won't UPDATE the password once set,
      # no clue how to do this, just remove the samba server and reinstall it
      # this microsoft shit sucks anyway, prob should switch to NFS
      # $ apt autoremove --purge samba smbclient limbsmbclient samba-common
      # $ sudo rm -rf /var/cache/samba /etc/samba /run/samba /var/lib/samba /var/log/samba
      samba_users:
        - name: "oxodao"
          password: "THE SAMBA PASSWORD"

      samba_username_map:
        - { from: "Oxodao", to: "oxodao" }

      samba_shares:
        - name: "Sauvegarde"
          comment: "Main SMB Share"
          path: "/mnt/sauvegarde"
          group: "oxodao"
          write_list: "oxodao"
          public: no # No anonymous read access

        - name: "Shares"
          comment: "Shared files"
          path: "/mnt/shares"
          group: "oxodao"
          write_list: "oxodao"
          public: yes # Allow anonymous to read the files

        - name: "ISOs"
          comment: "ISO files for Windows / Linux"
          path: "/mnt/isos"
          group: "oxodao"
          write_list: "oxodao"
          guest_ok: yes
          public: yes # Allow anonymous to read the files

      backups:
        s3_url: "https://s3.eu-central-003.backblazeb2.com/xxxxBUCKETxxxx"
        s3_access_key_id: "aws access key"
        s3_access_key_secret: "aws secret key"
        restic_password: "your private restic password"
        discord_webhook: "discord webhook url"