ungrouped:
  hosts:
    homelab:
      ansible_host: 192.168.14.1
      ansible_username: oxodao

      # This is the username which has the public key you want to
      # be authorized on the server
      # It will set the authorized_keys to the content of
      # https://github.com/{{github_username}}.keys
      # before disabling password authentication
      github_username: oxodao

      ssh_port: 5792
      ntp_timezone: Europe/Paris

      # The hostname will be domain.tld
      domain: home
      tld: lan

      public_ip: "HOMELAB PUBLIC IP (FOR WIREGUARD)"
      ip_prefix: "192.168.14."
      wg_ip_prefix: "192.168.66."

      machines:
        - { hostname: 'severus', short_name: 'severus', ip: '10', description: 'Main desktop computer' }
        - { hostname: 'lockhart', short_name: 'lockhart', ip: '11', description: 'Main laptop (Huawei)' }
        - { hostname: 'tablet', short_name: 'tablet', ip: '12', description: 'Main tablet' }
        - { hostname: 'op6', short_name: 'op6', ip: '13', description: 'Main phone' }
        - { hostname: 'switch', short_name: 'switch', ip: '14', description: 'Main Nintendo Switch' }

      wireguard:
        port: 48666 # This port should be UDP open on your ISP box
        private_key: "Your WG privkey"
        public_key: "Your WG pubkey"

        machines:
          - short_name: lockhart
            public_key: "machine's WG pubkey"
            ip_endpoint: '11'

          - short_name: remus
            public_key: "machine's WG pubkey"
            ip_endpoint: '12'

      # @TODO: Use ansible to call Opennic's API
      # https://wiki.opennic.org/api/geoip
      forwarded_dns_servers:
        - 2a00:f826:8:2::195
        - 2a03:4000:4d:c92:88c0:96ff:fec6:b9d
        - 195.10.195.195
        - 194.36.144.87

      docker_apps:
        - name: jellyfin
          folders_to_create:
            - cache
            - config
            - data
            - logs
            - metadata
            - transcode
        - name: gitea
          folders_to_create:
            - config
            - data
        - name: jdownloader
          folders_to_create:
            - data

      nginx_apps:
        - app_name: paperless
          short_name: paper
          port: 8000
        - app_name: jellyfin
          short_name: play
          port: 8096
        - app_name: gitea
          short_name: git
          port: 3000
        - app_name: jdownloader
          short_name: dl
          port: 5800
        - app_name: cockpit
          short_name: cockpit
          port: 9090
          custom_conf: true