server {
    listen      80;
    server_name notif.{{hostname}};
    return 307 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name notif.{{hostname}};

    include snippets/ssl.conf;

    location / {
        proxy_pass http://localhost:{{app_port}};
        
        # Apprise did weird thing with their config
        # Using the reverse proxy config will cause an error "Contradictory scheme headers"
        # I don't have the patience to fix this properly
        #include snippets/reverse_proxy.conf;
    }
}