services:
  app:
    image: 'ghcr.io/home-assistant/home-assistant:stable'
    restart: 'unless-stopped'
    volumes:
      - './config:/config'
      - '/etc/localtime:/etc/localtime:ro'
    privileged: true
    network_mode: 'host'

  mosquitto:
    image: 'eclipse-mosquitto:latest'
    restart: 'unless-stopped'
    volumes:
      - './mosquitto.conf:/mosquitto/config/mosquitto.conf'
      - './mosquitto_users:/mosquitto/config/users'
      - './mosquitto/data:/mosquitto/data'
      - './mosquitto/logs:/mosquitto/log'
      - '/var/run/docker.sock:/var/run/docker.sock'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '1883:1883'
      - '9001:9001'

  influx:
    image: 'influxdb:alpine'
    restart: 'unless-stopped'
    volumes:
      - './influxdb:/var/lib/influxdb2'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '127.0.0.1:8086:8086'

  nodered:
    image: 'nodered/node-red'
    restart: 'unless-stopped'
    environment:
      TZ: 'Europe/Paris'
    extra_hosts:
      - 'domo.home.lan:host-gateway'
    volumes:
      - './nodered_data:/data'
    ports:
      # Should not be put on 127.0.0.1 because of grafana
      # @TODO: Use docker networks
      - '1880:1880'

   frigate:
    image: 'ghcr.io/blakeblackshear/frigate:stable'
    restart: 'unless-stopped'
    volumes:
      - './frigate_config:/config'
      - '/mnt/nvr:/media/frigate'
      - type: 'tmpfs'
        target: '/tmp/cache'
        tmpfs:
          size: 1000000000
    ports:
      - '127.0.0.1:5000:5000'
      - '8554:8554' # RTSP feeds

  zigbee2mqtt:
    image: 'koenkk/zigbee2mqtt:1.36.1'
    restart: 'unless-stopped'
    network_mode: 'host'
    volumes:
      - './zigbee2mqtt_data:/app/data'
      - '/run/udev:/run/udev:ro'
    environment:
      TZ: 'Europe/Paris'