version: 2

backends:
  local_backblaze:
    type: 's3'
    path: '{{restic_path}}'
    key: '{{restic_repository_password}}'
    env:
      AWS_ACCESS_KEY_ID: '{{restic_access_id}}'
      AWS_SECRET_ACCESS_KEY: '{{restic_secret_id}}'

locations:
  #region Apprise
  apprise:
    from: '/home/oxodao/apprise'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['apprise']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Apprise" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/apprise && docker compose down'
      after:
        - 'cd /home/oxodao/apprise && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Apprise backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Apprise failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion

  #region Gitea
  gitea:
    from: '/home/oxodao/gitea'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['gitea']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Gitea" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/gitea && docker compose down'
      after:
        - 'cd /home/oxodao/gitea && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Gitea backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Gitea failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'

  gitea_data:
    from: '/mnt/git'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['gitea_data']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Gitea data" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/gitea && docker compose down'
      after:
        - 'cd /home/oxodao/gitea && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Gitea data backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Gitea data failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion

  #region Firefly
  firefly:
    from: '/home/oxodao/firefly'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['firefly']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Firefly" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/firefly && docker compose down'
      after:
        - 'cd /home/oxodao/firefly && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Firefly backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Firefly failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'

  firefly_data:
    from: '/mnt/documents/firefly'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['firefly_data']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Firefly data" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/firefly && docker compose down'
      after:
        - 'cd /home/oxodao/firefly && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Firefly data backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Firefly data failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion
  
  #region Grafana
  grafana:
    from: '/home/oxodao/grafana'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['grafana']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Grafana" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/grafana && docker compose down'
      after:
        - 'cd /home/oxodao/grafana && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Grafana backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Grafana failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion

  #region HomeAssistant
  homeassistant:
    from: '/home/oxodao/homeassistant'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['homeassistant']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up HomeAssistant" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/homeassistant && docker compose down'
      after:
        - 'cd /home/oxodao/homeassistant && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=HomeAssistant backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=HomeAssistant failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion

  #region Immich
  immich:
    from: '/home/oxodao/immich'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['immich']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Immich" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/immich && docker compose down'
      after:
        - 'cd /home/oxodao/immich && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Immich backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Immich failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'

  immich_data:
    from: '/mnt/images'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['immich_data']
        exclude:
          - '/mnt/images/encoded-video'
          - '/mnt/images/thumbs'
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Immich data" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/immich && docker compose down'
      after:
        - 'cd /home/oxodao/immich && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Immich data backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Immich data failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion

  #region Paperless
  paperless:
    from: '/home/oxodao/paperless'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['paperless']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Paperless" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/paperless && docker compose down'
      after:
        - 'cd /home/oxodao/paperless && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Paperless backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Paperless failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'

  paperless_data:
    from: '/mnt/documents/medias'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['paperless_data']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Paperless data" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/paperless && docker compose down'
      after:
        - 'cd /home/oxodao/paperless && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Paperless data backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Paperless data failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion