version: 2

backends:
  local_backblaze:
    type: 's3'
    path: '{{restic_path}}'
    key: '{{restic_repository_password}}'
    env:
      AWS_ACCESS_KEY_ID: '{{restic_access_id}}'
      AWS_SECRET_ACCESS_KEY: '{{restic_secret_id}}'

locations:
  #region Firefly
  firefly:
    from: '/home/oxodao/firefly'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['firefly']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Firefly" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/firefly && docker compose down'
      after:
        - 'cd /home/oxodao/firefly && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Firefly backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Firefly failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'

  firefly_data:
    from: '/mnt/documents/firefly'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['firefly_data']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Firefly data" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/firefly && docker compose down'
      after:
        - 'cd /home/oxodao/firefly && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Firefly data backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Firefly data failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion
  
  #region Grafana
  grafana:
    from: '/home/oxodao/grafana'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['grafana']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Grafana" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/grafana && docker compose down'
      after:
        - 'cd /home/oxodao/grafana && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Grafana backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Grafana failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion

  #region Immich
  immich:
    from: '/home/oxodao/immich'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['immich']
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Immich" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/immich && docker compose down'
      after:
        - 'cd /home/oxodao/immich && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Immich backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Immich failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'

  immich_data:
    from: '/mnt/images'
    to: ['local_backblaze']
    options:
      backup:
        tag: ['immich_data']
        exclude:
          - '/mnt/images/encoded-video'
          - '/mnt/images/thumbs'
    hooks:
      before:
        - 'curl -k -X POST -F "body=Backing up Immich data" -F "tags=all" https://notif.home.lan/notify/apprise'
        - 'cd /home/oxodao/immich && docker compose down'
      after:
        - 'cd /home/oxodao/immich && docker compose up -d'
      success:
        - 'curl -k -X POST -F "body=Immich data backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
      failure:
        - 'curl -k -X POST -F "body=Immich data failed to be backed up" -F "tags=all" https://notif.home.lan/notify/apprise'
  #endregion