server {
    listen      80;
    server_name m.{{hostname}};
    return 307 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name m.{{hostname}};

    include snippets/ssl.conf;

    location / {
        proxy_pass http://localhost:{{app_port}};
        include snippets/reverse_proxy.conf;
    }
}