public:
  hosts:
    rubeus-public:
      ansible_host: 'IP_VM_PUBLIC'
      ansible_username: 'oxodao'
      ansible_become_password: '{{ lookup("env", "ANSIBLE_BECOME_PASSWORD") }}'

      # Cela donnera domain.tld pour les noms de domaines
      domain: 'public'

      # Utilisé pour le monitoring des diverses app
      smtp_username: 'SMTP USERNAME'
      smtp_password: 'SMTP PASSWORD'
      smtp_from: 'SMTP FROM'
      smtp_to: 'SMTP TO'

      # Utilisé par Navidrome pour récupérer
      # les informations sur les artistes et les covers
      spotify_client_id: 'SPOTIFY CLIENT ID'
      spotify_client_secret: 'SPOTIFY CLIENT SECRET'

      # Les montages SMB qui seront utilisés
      smb_mounts:
        shares:
          host: '//[IP NAS]/Shares'
          username: 'homelab_shares'
          password: '[MDP NAS]'

      # Certificat SSL utilisé par nginx
      nginx_public_key: |2
        -----BEGIN CERTIFICATE-----
        CLE PUBLIQUE CERTIFICAT SSL
        -----END CERTIFICATE-----
      
      nginx_private_key: |2
        -----BEGIN PRIVATE KEY-----
        CLE PRIVEE CERTIFICAT SSL
        -----END PRIVATE KEY-----

      # Permet d'ajouter des machines à celles déjà existantes directement dans le inventory
      machines: |2
        {{
          predefined_machines + [
            {"hostname": "some_other_machine", "short_name": "machine", "ip": "180", "description": "Some other machine"},
          ]
        }}

      # Configuration du wireguard
      wireguard:
        public:
          ip_prefix: '192.168.70.'
          port: 'PORT WG PUBLIC'
          private_key: ''
          public_key: ''

          # Les machines auront pour IP assignée
          # le prefix d'ip fournis plus haut
          # puis une ip machine égale à celle sur
          # le réseau local.
          machines:
            - hostname: 'machine_name'
              public_key: ''

        private:
          ip_prefix: '192.168.66.'
          port: 'PORT WG PRIVEE'
          private_key: ''
          public_key: ''

          # Les machines auront pour IP assignée
          # le prefix d'ip fournis plus haut
          # puis une ip machine égale à celle sur
          # le réseau local.
          machines:
            - hostname: 'lockhart'
              public_key: ''
            - hostname: 'tablet'
              public_key: ''
            - hostname: 'op6'
              public_key: ''
